body {
  font-size: 16px;
  color: #000;
  background-color: #260C1D;
  font-family: 'Averia Sans Libre', cursive;
}

/** HEADER **/
#header-nav {
  background-color: #683B4A;
  border-radius: 0;
  border: 0;
}

.navbar-header {
  height: 70px;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 { /* Brand name */
  color: #CA3A3B;
  font-size: 2em;
  text-shadow: 2px 2px 2px #000;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list { /* Dropdown navbar */
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: #000;
  text-align: center;
  font-size: 1.8em;
}
#nav-list a:hover {
  background-color: #894d61;
  color: #fff;
  /*text-shadow: 2px 2px 2px #000;*/
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #260C1D;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* END HEADER */


/* HOME PAGE */

.menu-title h1 { /*Menu title*/
  color: #FFF;
}

.menu-text h2 { /* Section title */ 
}

.menu-text .container-fluid { /* Section Text */
  /*border: 3px solid #894d61;*/
  margin: 10px 0px 10px 0px;
  padding: 5px;
  background-color: #C1A291;
}

.row { /* Menu text */
  height: auto;
  border: 0;
  margin: 20px 5px 20px 5px;
}

.backtotop a { /*Back to Top link*/
  color: #683B4A;
  font-weight: bold;
}

.backtotop a:hover, .backtotop a:focus {
  text-decoration: none;
  color: #000;
}


/*FOOTER*/
.panel-footer {
  height: 60px;
  border: 0;
  background-color: #683B4A;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

@media (max-width: @screen-xs-max) {
}



